-r requirements-minimal.txt
uvicorn
python-dotenv
sympy
scipy
tqdm
statsmodels
pulp
matplotlib
python-snappy
qutip
pandas
pygame
mido
midiutil
qrcode
asyncpg
streamlit-ace
kaleido
websockets
plotly
pyvis

# STRICTLY A SOCIAL MEDIA PLATFORM
# Intellectual Property & Artistic Inspiration
# Legal & Ethical Safeguards

